header {
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 15px;

  img {
    float: left;
    width: 15%;
    height: auto;
  }
  .hotelFilterSection {
    width: 100%;
    display: flex;
    padding-top: 20px;
  }
  .hotelCount {
    float: left;
    width: 80%;
  }

  .filterDiv {
    width: 180px;
    float: right;
  }
  .sortDropdown {
    height: 30px;
    border-radius: 5px;
    padding: 5px;
  }
  .lblSortBy {
    margin-right: 5px;
  }
}

/*Responsive styling*/
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  /* Adjust logo size */
  header img {
    width: 200px;
  }

  .hotelFilterSection {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start;
  }

  .hotelCount {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }

  #filterDiv {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 480px) {
  header img {
    width: 200px;
  }

  .hotelCount {
    font-size: 0.9rem;
    width: 100%;
  }

  #filterDiv {
    width: 100%;
    text-align: left;
  }
}
